# Node.js
node_modules/


# Vite
dist/


# Build files
build/
out/

# Backend
server/node_modules/
server/.env

# Logs
*.log

# Environment variables
.env.development

# macOS
.DS_Store

# Windows
Thumbs.db
