.navigation {
    width: 100%;
    min-height: 64px;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 80%;
    width: auto;
    padding: 5px 20px 5px 10px;
    background-color: white;
    color: tomato;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

}


.profile-logo {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: white;
    font-size: 2rem;
}


@media (max-width: 768px) {

    .nav-items {
        width: 100%;
        padding-right: 6px;

    }

    .logo {
        width: auto;
        padding: 5px 20px 5px 10px;
    }

    .profile-logo{
        font-size: 1.5rem;
    }
}