.clicked{
    font-size: 2rem;
    position: fixed;
    top:20px;
    left: 150px;
    z-index: 9000;
    color: white;
}


.user-list {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 20px;
    background-color: tomato;
    position: fixed;
    left: 10px;
    top: 100px;
    border-radius: 40px;
    z-index: 999;
}

.user-card {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}

.user-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.online-sign {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: greenyellow;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #fff; /* Add a white border for better visibility */
}

.user-name {
    font-weight: bold;
    color: white;
    text-align: center;
}



@media screen and (max-width:600px){

    .user-list {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        left: 0;
        top: 0;
        background-color: white;
    }
    
}