form {
    max-width: 300px;
    margin: 0 auto;
}

h2 {
    color: tomato;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}


.required-message {
    color: slategray; 
    text-decoration: underline;
    font-size: 0.9rem;
    margin-top: 8px;
    text-align: center;
}

button {
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.update-btn:hover {
    background-color: #ff6347;
}